.none {
    display: none;
}
.active {
    background: #c4ffe1db;
}
.navbar {
    background-color: #0e377b !important;
}
.error-message {
    color: red;
    font-size: 12px;
    padding-left: 10px;
}
#sort {
    font-family: var(--font-family-sans-serif);
    margin-bottom: 60px;
}
#sort th {
    font-weight: bold;
}
#sort input[name=update],
#status, #option {
    width: 190px;
    padding-left: 12px;
    padding-right: 12px;
}
#isTruck, #isDriver {
    padding-left: 8px;
    padding-right: 8px;
}
.info-cell div {
    padding-bottom: 5px;
}
.info-cell div:last-child {
    padding-bottom: 0;
}
.name-col {
    width: 250px;
}
.price-col {
    width: 130px;
}
.date-col {
    width: 150px;
}
.control-col {
    width: 200px;
}
#createTruckForm,
#createDriverForm {
    font-family: var(--font-family-sans-serif);
}
.form-container {
    padding: 0 20px;
    display: flex;
    gap: 15px;
}
.form-container .modal-body {
    flex: 1;
}
.separationLine {
    border: 1px solid #c5d3e0;
    margin: 25px 0;
}
.row-container {
    display: flex;
    gap: 10px;
}

.dimensions-container .form-control {
    padding-left: 8px;
    padding-right: 8px;
}
.info-container {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;
}
.date-label {
    align-self: center;
}
.remark {
    margin-left: 10px;
    font-size: 12px;
}
#createTruckForm .form-check {
    padding-left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}
#createTruckForm .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 20px;
    height: 20px;
}
#createTruckForm .form-check-input,
#createTruckForm .form-check-label {
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.modal .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal input[type=date] {
    padding-right: 30px;
}
.modal input[type=file] {
    height: inherit;
}

#truckImageContainer img,
#driverImageContainer img {
    width: 120px;
    height: 90px;
    object-fit: cover;
}

footer.to-bottom {
    margin-top: 51px;
    position: fixed;
}

@media (max-width: 1160px) {
    .table-scroll {
        overflow-x: scroll;
    }

    #sort {
        margin-bottom: 110px;
    }
}
@media (max-width: 992px) {
    .form-container {
        flex-direction: column;
        gap: 0;
    }

    .separationLine {
        display: none;
    }
}
@media (max-width: 500px) {
    footer.to-bottom {
        position: relative;
    }
}

/* ----- переключатель ------ */
.toggler-container {
	padding: 5px;
}
.toggler-container span, .toggler {
   cursor: pointer;
}
.toggler {
	appearance: none;
	position: relative;
	display: inline-block;
	background: lightgrey;
	height: 1.65rem;
	width: 2.75rem;
	margin-right: 5px;
	vertical-align: middle;
	border-radius: 2rem;
	box-shadow: 0px 1px 3px #0003 inset;
	transition: 0.25s linear background;
}
.toggler::before {
	content: "";
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	background: #fff;
	border-radius: 1.2rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	box-shadow: 0px 1px 3px #0003;
	transition: 0.25s linear transform;
	transform: translateX(0rem);
}
.toggler:checked {
	background: #0e377b;
}
.toggler:checked::before {
	transform: translateX(1rem);
}
.toggler:focus {
	outline-color: transparent;
}
.toggler:focus-visible {
	outline: 2px solid dodgerblue;
	outline-offset: 2px;
}