.none {
    display: none;
}
.row-center .ag-cell-wrapper {
    justify-content: center;
}
.text-center .ag-cell-wrapper {
    text-align: center;
}
.full-text .ag-cell-wrapper {
    line-height: 20px;
    text-wrap:wrap;
}
.btn-center {
    display: flex;
    justify-content: center;
}

.unConfirmed-cell {
    font-weight: bold;
}
.unConfirmed-row {
    background-color: #f7b9b9;
}

.navbar {
    background-color: #0e377b !important;
}

.my-container {
    margin-top: 85px;
}
.my-container.smallHeader {
	margin-top: 64px;
}

#myGrid {
    width: 100%;
    height: calc(100vh - 149px);
}
#myGrid.smallHeader {
	height: calc(100vh - 128px);
}
@media (max-width: 768px) {
	#myGrid {
		margin-bottom: 53px;
	}
}

.ag-theme-alpine {
    /* --ag-border-color: #0e377b; */
    --ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
    /* --ag-secondary-border-color: #0e377b; */
    --ag-control-panel-background-color: var(--control-panel-bg-color:);
    --ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
    --ag-header-column-resize-handle-color: #0e377b;
}
.ag-theme-alpine .ag-side-buttons {
    background-color: #a7bad3;
    font-weight: 600;
}

.ag-header-cell-filtered {
    background-color: #0e377b !important;
    color: var(--white-color) !important;
}
.ag-header-cell-filtered span {
    color: var(--white-color) !important;
}
.ag-header-cell-label {
    justify-content: center;
    text-align: center;
}
.title-container {
    border-top: 1px solid #babfc7;
    background-color: rgb(167, 186, 211) !important;
}
.title-container p {
    margin-bottom: 0;
    font-size: 20px;
    color: #393737;
}
.title-container,
.toolbar {
    min-height: 30px;
    border-left: 1px solid #babfc7;
    border-right: 1px solid #babfc7;
    background-color: lightsteelblue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1px 10px;
}

.toolbar .tools-btn {
    padding: 0 0.75rem;
    border: 2px solid lightsteelblue;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}
.toolbar .tools-btn:hover,
.toolbar .tools-btn:focus {
    border: 2px solid #0e377b;
}
.toolbar .tools-btn.active {
    border: 2px solid #8394af;
    background-color: #8394af;
    color: white;
    font-weight: bold;
}

#showFileBtn {
    background-color: #b0c4de;
}

#fileModal .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
#fileModal .close:not(:disabled):not(.disabled):focus, 
#fileModal .close:not(:disabled):not(.disabled):hover {
    opacity: .75;
    outline: none;
}
#fileModal .fit-image{
    width: 100%;
    object-fit: cover;
}
