body {
	height: 100%;
}
.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin-top: 60px;
}

footer.to-bottom {
	margin-top: 51px;
	position: fixed;
}

.text-red {
	color: red;
}
.error-message {
	color: red;
	font-size: 12px;
	padding-top: 5px;
}

.my-container, 
.modal {
	font-family: var(--font-family-sans-serif);
}
.modal-header {
	background-color: #b0c4de;
}
.title-container,
.toolbar {
	min-height: 30px;
	border-left: 1px solid #babfc7;
	border-right: 1px solid #babfc7;
	background-color: lightsteelblue;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 1px 10px;
}
.title-container {
	position: relative;
	align-items: center;
	border-top: 1px solid #babfc7;
	background-color: rgb(167, 186, 211) !important;
}
.title-container h3 {
	margin-bottom: 0;
	font-size: 22px;
	color: #393737;
}
.toolbar {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 2px 10px;
}
.title-container label,
.toolbar label {
	text-wrap: nowrap;
}
.title-container .form-control,
.title-container .btn,
.toolbar .form-control,
.toolbar .btn {
	padding: 0 8px;
	height: 30px;
}
.title-container .tools,
.toolbar .tools {
	padding: 0 0.75rem;
	border: 2px solid rgb(202, 212, 224);
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
}
.title-container .tools:hover,
.toolbar .tools:hover {
	border: 2px solid #0e377b;
}
.title-container .tools:focus,
.toolbar .tools:focus {
	box-shadow: none
}
.title-container .tools-btn:active,
.toolbar .tools-btn:active {
	border: 2px solid #0e377b;
	background-color: #8394af;
	color: white;
	font-weight: bold;
}

#addNewTruckBtn,
#addNewTrucksBtn,
#setTgTelNumberBtn {
	position: relative;
}
#addNewTruckBtn:hover::after,
#addNewTrucksBtn:hover::after,
#setTgTelNumberBtn:hover::after {
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.75em;
	text-wrap: nowrap;
	color: white;
	background-color: #000;
	padding: 2px 5px;
	z-index: 10;
	border-radius: 3px;
	opacity: 0.6;
}
#addNewTruckBtn:hover::after {
	content: "Заявить авто";
}
#addNewTrucksBtn:hover::after {
	content: "Заявить несколько авто";
}
#setTgTelNumberBtn:hover::after {
	content: "Привязать ТГ-аккаунт";
}

.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.modal input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}
.modal input::placeholder {
	color: rgb(179, 179, 179);
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
} 

#myGrid {
	width: 100%;
	height: calc(100vh - 181px);
}
.ag-theme-alpine {
	--ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
	--ag-control-panel-background-color: var(--control-panel-bg-color:);
	--ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
	--ag-header-column-resize-handle-color: #0e377b;
	--ag-odd-row-background-color: var(--white-color);
}
.ag-header-cell-label {
	justify-content: center;
	text-align: center;
}
.text-center .ag-cell-wrapper {
	text-align: center;
}

#myGrid .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

#myGrid .cell-wrap-text {
	white-space: normal !important;
}

@media (max-width: 991px) {
	.my-container {
		margin-top: 60px;
	}
	.shopNumber-container {
		flex-wrap: wrap;
		gap: 0;
	}
}
@media (max-width: 767px) {
	#myGrid {
		height: calc(100vh - 226px);
	}
	.container.my-container {
		padding: 0;
	}
}
@media (max-width: 620px) {
	#myGrid {
		height: calc(100vh - 306px);
	}
}
@media (max-width: 402px) {
	#myGrid {
		height: calc(100vh - 360px);
	}
}

.grid-checkbox .ag-cell-wrapper {
	justify-content: center;
}
#myGrid .grid-checkbox .ag-checkbox,
#myGrid .ag-cell-value .btn {
	height: 100%;
}
.ag-theme-alpine .ag-side-buttons {
	background-color: #a7bad3;
	font-weight: 600;
}
.ag-header-cell-filtered {
	background-color: #9e9e9e80 !important;
}

#myGrid .light-green-row {
	background-color: rgba(144, 238, 144, 0.3);
}
#myGrid .light-orange-row {
	background-color: rgba(255, 122, 0, 0.3);
}
#myGrid .bordered-row {
	background-color: rgba(255, 122, 0, 0.3);
}

.fs-1rem {
	font-size: 1rem !important;
}