.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin-top: 60px;
}
footer.to-bottom {
	margin-top: 51px;
	position: fixed;
}

.modal {
	font-family: var(--font-family-sans-serif);
}

.title-container,
.search-form-container {
	min-height: 30px;
	border-left: 1px solid #babfc7;
	border-right: 1px solid #babfc7;
	background-color: #f9d196;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 1px 10px;
}
.title-container {
	position: relative;
	align-items: center;
	border-top: 1px solid #babfc7;
	background-color: #fdc169 !important;
}
.title-container h3 {
	margin-bottom: 0;
	font-size: 22px;
	color: #393737;
}
.search-form-container {
	display: flex;
	gap: 0;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family-sans-serif);
}
.search-form-container form {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 2px 0;
}
.search-form-container label {
	text-wrap: nowrap;
}
.search-form-container .form-control,
.search-form-container .btn {
	padding: 0 8px;
	height: 30px;
}
.search-form-container input[type="date"] {
	width: 120px;
}
.search-form-container input[type="text"] {
	width: 260px;
}
.accordion .search-form-container .accordion-btn {
	position: relative;
	width: 100%;
	padding: 5px 0;
}
.accordion .search-form-container .accordion-btn.collapsed::after {
	content: '\276E';
	position: absolute;
	top: 5px;
	right: 10px;
	transform: rotate(-90deg);
}
.accordion .search-form-container .accordion-btn::after {
	content: '\276E';
	position: absolute;
	top: 5px;
	right: 10px;
	transform: rotate(90deg);
}

#myGrid {
	width: 100%;
	height: calc(100vh - 133px);
}
@media (min-width: 992px) {
	.search-form-container form.collapse {
		display: flex;
	}
	.accordion .search-form-container .accordion-btn {
		display: none;
	}
}
@media (max-width: 991px) {
	.my-container {
		margin-top: 60px;
	}
	#myGrid {
		height: calc(100vh - 162px);
	}
}


.ag-theme-alpine {
	--ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
	--ag-control-panel-background-color: var(--control-panel-bg-color:);
	--ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
	--ag-header-column-resize-handle-color: #0e377b;
	--ag-odd-row-background-color: var(--white-color);
	--ag-value-change-value-highlight-background-color: #ff8800d2;
}
.ag-theme-alpine .ag-side-buttons {
    background-color: #a7bad3;
    font-weight: 600;
}
.ag-header-cell-filtered {
	background-color: #0e377b !important;
	color: var(--white-color) !important;
}
.ag-header-cell-filtered span {
	color: var(--white-color) !important;
}
.ag-header-cell-label {
	justify-content: center;
	text-align: center;
}
.text-center .ag-cell-wrapper {
	text-align: center;
}
.ag-pinned-left-header {
	border-right: 3px solid lightslategray;
}
.ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
	border-right: 3px solid lightslategray;
}

#myGrid .ag-cell-value,
#tenderOffers .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .ag-cell-value.group-cell,
#tenderOffers .ag-cell-value.group-cell {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 0;
	padding-bottom: 0;
}
#myGrid .ag-cell-value.group-cell .ag-group-value,
#tenderOffers .ag-cell-value.group-cell .ag-group-value {
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .cell-wrap-text {
	white-space: normal !important;
}

#myGrid .activRow{
	background-color: #494f5252;
}
#myGrid .finishRow{
	background-color: #c4ffe1db;
}
#myGrid .attentionRow{
	background-color: #dce37266;
}
#myGrid .endRow{
	background-color: #9ee9ffdb;
}
#myGrid .oncePersonRoute{
	background-color: #ca44e366;
}
#myGrid .carrierDataSent {
	background-image: repeating-linear-gradient(
		45deg,
		#9ee9ffdb,
		#9ee9ffdb 10px,
		#c4ffe1db 10px,
		#c4ffe1db 20px
	);
}
#myGrid .cancelRow {
	background-color: #e3444466;
}
#myGrid .savedRow {
	border: 2px solid #06bed5;
}

#tenderOffers .bestOffer {
	background-color: #b8e6c1;
}
#tenderOffers .badOffer {
	background-color: #f5b7b1;
}

.none {
	display: none !important;
}
.text-red {
	color: red;
}


.modal form {
	font-family: var(--font-family-sans-serif);
}
.form-container {
	padding: 0 10px;
	display: flex;
	max-height: 76vh;
	overflow-y: scroll;
}
.routeInfo-container {
	display: flex;
	gap: 25px;
}
.separationLine {
	border: 1px solid #c5d3e0;
	margin: 0 0 15px 0;
}
.form-section {
	width: 100%;
}
.form-section.left {
	flex: 2;
}
.form-section.right {
	flex: 2;
}
.form-section.map {
	flex: 2;
	position: relative;
}
@media (max-width: 1023px) {
	.routeInfo-container {
		flex-direction: column;
		padding: 0 5px;
	}
	.separationLine {
		display: none;
	}
}

.input-row-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.input-row-container span {
	text-wrap: nowrap;
}

.point-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
}
@media (max-width: 1023px) {
	.point-container .card-body {
		padding: 10px;
	}
}
.row-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.info-container label {
	text-wrap: nowrap;
}
.info-container .pointDate {
	flex: 1;
}
.info-container .cargoName {
	flex: 2;
}
.info-container .cargoPall,
.info-container .cargoWeight,
.info-container .cargoVolume {
	flex: 1;
}
 .addresses-container div {
	flex: 1;
}
 .timeFrame-container {
	flex: 1;
}
 .contact-container {
	flex: 3;
}
.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.modal input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}
.modal input::placeholder {
	color: rgb(179, 179, 179);
}
.modal .card-footer {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.accordion .accordion-btn {
	position: relative;
	display: inline-block;
	text-align: center;
	width: auto;
	padding: 0;
	color: #7288a2;
	font-size: 1.15rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
}
.accordion .accordion-btn:hover {
	color: #495a6e;
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.selected {
	opacity: 0.6;
}
.dragItem {
	cursor: move;
}

.control-btns {
	display: flex;
	align-items: center;
	gap: 10px;
}

.my-link {
    display: inline-block;
    color: #003369;
    text-decoration: none;
}
.my-link:hover,
.my-link:focus {
    color: #0057b3;
    text-decoration: none;
}
.my-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .5s;
}

.my-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}

.ag-cell.needEdit {
	border: 3px solid #22ac45;
}

.routeInfo-item {
	display: flex;
	gap: 5px;
	align-items: center;
}

#priceAnalisysReportFrame {
	width: 100%;
	height: 61vh;
}