body {
	height: 100%;
}
.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin-top: 60px;
}

.text-red {
	color: red;
}
.error-message {
	color: red;
	font-size: 12px;
	padding-top: 5px;
}

.my-container, 
.modal {
	font-family: var(--font-family-sans-serif);
}
.modal-header {
	background-color: #b0c4de;
}
.title-container,
.toolbar {
	min-height: 30px;
	border-left: 1px solid #babfc7;
	border-right: 1px solid #babfc7;
	background-color: lightsteelblue;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 1px 10px;
}
.title-container {
	position: relative;
	align-items: center;
	border-top: 1px solid #babfc7;
	background-color: rgb(167, 186, 211) !important;
}
.title-container h3 {
	margin-bottom: 0;
	font-size: 22px;
	color: #393737;
}
.toolbar {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 2px 10px;
}
.toolbar label {
	text-wrap: nowrap;
}
.toolbar .form-control,
.toolbar .btn {
	padding: 0 8px;
	height: 30px;
}
.toolbar .tools {
	padding: 0 0.75rem;
	border: 2px solid rgb(202, 212, 224);
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
}
.toolbar .tools:hover {
	border: 2px solid #0e377b;
}
.toolbar .tools svg {
	transition: all .15s ease-in-out;
}
.toolbar .tools:hover svg {
	fill: #0e377b;
}
.toolbar .tools:focus {
	box-shadow: none
}
.toolbar .tools-btn:active {
	border: 2px solid #0e377b;
	background-color: #8394af;
	color: white;
	font-weight: bold;
}

#uploadStockExcelDataBtn,
#uploadRouteExcelDataBtn,
#toggleRightTableVisible {
	position: relative;
}
#uploadStockExcelDataBtn:hover::after,
#uploadRouteExcelDataBtn:hover::after,
#toggleRightTableVisible:hover::after {
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.75em;
	text-wrap: nowrap;
	color: white;
	background-color: #000;
	padding: 2px 5px;
	z-index: 10;
	border-radius: 3px;
	opacity: 0.7;
}
#toggleRightTableVisible:hover::after {
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translateX(-75%);
}
#uploadStockExcelDataBtn:hover::after {
	content: "Загрузка задания по складам";
}
#uploadRouteExcelDataBtn:hover::after {
	content: "Загрузка задания с маршрутами";
}
#toggleRightTableVisible:hover::after {
	content: "Одна/две таблицы";
}

.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.modal input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}
.modal input::placeholder {
	color: rgb(179, 179, 179);
}
.modal input[type=file] {
	height: 100%;
	cursor: pointer;
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.grid-container {
	display: flex;
	width: 100%;
	transition: all 0.5s ease;
}
.grid-container.showRightTable {
	display: flex;
	width: 100%;
	transition: all 0.5s ease;
	gap: 20px;
}
.grid-column {
	flex: 1;
	min-width: 0;
	transition: all 0.5s ease;
}
.grid-column.right {
	width: 0;
	opacity: 0;
	flex: 0;
}
.showRightTable .grid-column.right {
	transition: all 0.5s ease;
	overflow: hidden;
	width: auto;
	opacity: 1;
	flex: 1;
}

#toggleRightTableVisible svg {
	/* fill: #0e377b; */
	width: 24px;
	height: 24px;
}

#myGridLeft,
#myGridRight {
	width: 100%;
	height: calc(100vh - 131px);
}
.ag-theme-alpine {
	--ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
	--ag-control-panel-background-color: var(--control-panel-bg-color:);
	--ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
	--ag-header-column-resize-handle-color: #0e377b;
	--ag-odd-row-background-color: var(--white-color);
}
.ag-header-cell-label {
	justify-content: center;
	text-align: center;
}
.text-center .ag-cell-wrapper {
	text-align: center;
}

#myGridLeft .ag-cell-value,
#myGridRight .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

#myGridLeft .cell-wrap-text,
#myGridRight .cell-wrap-text {
	white-space: normal !important;
}

@media (max-width: 991px) {
	.shopNumber-container {
		flex-wrap: wrap;
		gap: 0;
	}
}

.grid-checkbox .ag-cell-wrapper {
	justify-content: center;
}
#myGridLeft .grid-checkbox .ag-checkbox,
#myGridRight .grid-checkbox .ag-checkbox,
#myGridLeft .ag-cell-value .btn,
#myGridRight .ag-cell-value .btn {
	height: 100%;
}
.ag-theme-alpine .ag-side-buttons {
	background-color: #a7bad3;
	font-weight: 600;
}
.ag-header-cell-filtered {
	background-color: #9e9e9e80 !important;
}

#myGridRight .light-green-row {
	background-color: rgba(144, 238, 144, 0.3);
}
#myGridLeft .light-orange-row,
#myGridRight .light-orange-row {
	background-color: rgba(255, 122, 0, 0.3);
}
#myGridLeft .bordered-row,
#myGridRight .bordered-row {
	background-color: rgba(255, 122, 0, 0.3);
}

.fs-1rem {
	font-size: 1rem !important;
}