.navbar {
    background-color: #0e377b !important;
}

.none {
    display: none;
}

.my-container {
    margin-top: 100px;
}
.my-container a {
    color: #003369;
}
.my-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.my-link:hover,
.my-link:focus {
    color: #0057b3;
    text-decoration: none;
}
.my-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .5s;
}

.my-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}