.none {
	display: none;
}

.navbar {
	background-color: #0e377b !important;
}
.my-container {
	position: relative;
	margin: 60px 0 0 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	height: calc(100vh - 60px);
}
@media (max-width: 767px) {
	.my-container {
		margin: 60px 0 0 0;
		height: calc(100vh - 61px);
	}
}
.my-shadow {
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
footer.to-bottom {
	margin-top: 51px;
	position: fixed;
}


#map {
	width: 100%;
	height: 100%;
	border: 2px solid lightgrey;
	transition: transform ease-in-out 300ms 300ms;
}
#map .leaflet-right {
	transition: transform ease-in-out 300ms 300ms;
}
#map .leaflet-div-icon {
	background: none;
	border: none;
}
#map .leaflet-div-icon.leaflet-editing-icon {
	background: #0e377b;
	border: none;
	border-radius: 50%;
}
#map .leaflet-div-icon svg {
	width: 23px;
	height: 31px;
	opacity: 0.9;
}
#map .leaflet-div-icon svg.small {
	width: 15px;
	height: 20px;
}
#map .highlight {
	opacity: 0.9;
}
#map .leaflet-control-geosearch a.reset {
	font-size: 18px;
	font-weight: normal;
}
#map .leaflet-control-attribution svg {
	visibility: hidden;
}
.marker-text {
	margin-top: 5px;
	padding: 2px;
	background-color: #fff;
	opacity: 0.8;
	font-weight: bold;
	text-align: center;
	text-wrap: nowrap;
	transform: translateX(-6px);
}
.link-button label {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 110%;
}
.leaflet-touch .link-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;
	background: #fff;
	margin-bottom: 5px;
	padding: 5px;
  }
.link-button:hover {
	background-color: #f4f4f4;
	fill: #a200ff;
}
.link-button:hover:after {
	position: absolute;
	display: flex;
	justify-content: end;
	content: attr(title);
	right: 40px;
	width: auto;
	white-space: nowrap;
	background: #fff;
	padding: 5px;
}
.geojson {
	display: none;
}
.icon-geojson {
	width: 25px;
	height: 25px;
}


.form-container {
	max-width: 300px;
	padding: 10px;
	/* border: 2px solid #0e377b; */
}
.form-container form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}
.content input[type=file] {
	height: 100%;
	cursor: pointer;
}
.row-container {
	display: flex;
	gap: 10px;
	align-items: center;
}
.row-container label {
	text-wrap: nowrap;
}
#optimizeRouteForm {
	font-size: 80%;
}
#route .form-control,
#routeAreaForm .form-control,
#optimizeRoute .form-control,
#settings .form-control {
	max-width: 140px;
	padding: 0.4rem 1rem;
	height: calc(1em + 0.8rem + 2px);
}
#distanceControl .btn, 
#settings .btn {
	width: 98%;
	margin: 0 5px;
}
#clearMap:focus {
	outline: 0;
}
#clearMap:active {
	background-color: #ddd;
}
.route-container {
	text-align: center;
	height: 65vh;
	overflow-y: scroll;
	padding-bottom: 5px;
}
#route .route-container {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 2fr 5fr 2fr;
	grid-template-rows: repeat(25, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 2px;
}
#optimizeRouteForm .route-container{
	height: 34vh;
}
#shopLoadsForm .route-container{
	height: 75vh;
}
#optimizeRoute .form-control {
	max-width: 100px;
	padding: 0.4rem 1rem;
	height: calc(1em + 0.8rem + 1px);
}
.route-container::-webkit-scrollbar,
.car-inputs-container__body::-webkit-scrollbar {
	width: 5px;
}
.route-container::-webkit-scrollbar-track,
.car-inputs-container__body::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
.route-container::-webkit-scrollbar-thumb,
.car-inputs-container__body::-webkit-scrollbar-thumb {
	background: #bdbdbd; 
}
.route-container::-webkit-scrollbar-thumb:hover,
.car-inputs-container__body::-webkit-scrollbar-thumb:hover {
	background: #adadad;
}
.distance-container {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.distanceControlUtils input {
	padding: 2px 5px;
}
.distanceControlUtils button {
	padding: 2px 5px;
}

.formButton-container {
	display: flex;
	gap: 10px;
	padding: 10px 5px;
}

.formButton-container .btn {
	flex: 1 1 50%;
}

.addressInfo {
	font-size: 12px;
}

.routeAreaForm-container {
	display: grid;
	grid-template-columns: 1fr 2fr 7fr;
	grid-column-gap: 10px;
}
#routeAreaForm .routeAreaForm-container {
	grid-template-columns: 1fr 2fr 9fr;
}
#optimizeRouteForm .routeAreaForm-container {
	grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
	grid-column-gap: 10px;
}
#shopLoadsForm .routeAreaForm-container {
	grid-template-columns: 1fr 2fr 2fr 4fr;
	grid-column-gap: 10px;
}
.stock-container {
	border-bottom: 2px solid gray;
	/* padding: 5px 0; */
	margin-bottom: 0.25rem !important;
}
#optimizeRoute .stock-container .form-control {
	max-width: 50px;
	padding: 0.4rem 0.2rem;
	height: calc(1em + 0.8rem + 1px);
}
.input-table {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0;
	grid-row-gap: 2px;
	/* margin: 10px 0;
	padding: 10px 0; */
	/* border-top: 2px solid gray;
	border-bottom: 2px solid gray; */
}
.pallSum-container {
	justify-content: flex-end;
	border-bottom: 2px solid gray;
	padding: 5px 0 10px 0;
	/* margin-bottom: 0.5rem !important; */
}

.route-textarea {
	align-self: start;
	width: 75px;
	font-size: 16px;
	line-height: 32px;
	color: black;
	padding: 0 10px;
	min-height: 200px;
	resize: none;
	overflow: hidden;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	background-image: linear-gradient(transparent, transparent 31px, #ced4da 0px);
	background-size: 100% 32px;
}
#routeAreaForm .route-textarea {
	width: 65px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 42px;
	background-image: linear-gradient(transparent, transparent 41px, #ced4da 0px);
	background-size: 100% 42px;
}
#shopLoadsTonnage.route-textarea {
	width: 150px;
}
.route-textarea:focus,
.route-textarea:focus-visible {
	outline: 1px solid #979ba0;
	background-image: linear-gradient(transparent, transparent 31px, #979ba0 0px);
}
#routeAreaForm .route-textarea:focus,
#routeAreaForm .route-textarea:focus-visible {
	background-image: linear-gradient(transparent, transparent 41px, #979ba0 0px);
}
.routeArea-form .number-container {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 46px repeat(25, 30px);
	grid-row-gap: 2px;
}
#routeAreaForm .number-container {
	grid-template-rows: 46px repeat(25, 40px);
}
.routeArea-form .cleaningInputs-container,
.routeArea-form .pallReturnInputs-container {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 46px repeat(50, 30px);
	grid-row-gap: 2px;
}
.routeArea-form .input-container {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-rows: 44px 1fr;
	grid-row-gap: 2px;
}
.routeArea-form .info-container {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: 44px repeat(25, 30px);
	grid-column-gap: 10px;
	grid-row-gap: 2px;
}
#routeAreaForm .info-container {
	grid-template-columns: 7fr 2fr;
	grid-template-rows: 44px repeat(25, 40px);
	grid-column-gap: 5px;
}
/* .routeArea-form .addressInfo {
	font-size: 12px;
} */
.routeArea-form .pointInfo {
	font-size: 14px;
}
.routeArea-form .form-control[type="checkbox"]:focus {
	box-shadow: none;
}

.shopPopup input {
	width: 70px;
}


/*------------- sidebar styles ------------- */
svg:not(:root) {
	overflow: hidden;
}
.hidden {
	display: none;
}
.active-sidebar #map {
	transform: translateX(320px);
	/* width: 60%; */
}
.active-sidebar #map .leaflet-right {
	transform: translateX(-320px);
}
.sidebar {
	display: flex;
	gap: 1rem;
	position: absolute;
	left: 0;
	width: 46px;
	max-width: 560px;
	z-index: 999;
	background: #fff;
	box-shadow: none;
	overflow: hidden;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	height: 100%;
}
.active-sidebar .sidebar {
	max-width: 760px;
	width: 100%;
}
@media (min-width: 768px) {
	.sidebar {
		top: 0px;
		left: 0px;
		height: calc(100%);
		border: 2px solid rgba(0, 0, 0, 0.2);
		transition: width 500ms;
	}
	.leaflet-left {
		transform: translateX(55px);
	}
	.active-sidebar .sidebar {
		max-width: 560px;
		width: 100%;
		transition: width 1s;
	}
}
.close-button {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 8px;
	border: none;
	padding: 5px;
	margin: 0;
	padding: 0;
	border-radius: 3px;
	background: none;
	opacity: 0;
	pointer-events: none;
}
.active-sidebar .close-button {
	pointer-events: all;
	opacity: 1;
	transition: opacity 100ms ease-in-out;
}
.sidebar .close-button svg {
	fill: #fff;
}
.sidebar::before {
	position: absolute;
	content: "";
	z-index: -1;
	top: 0;
	left: 44px;
	width: 100%;
	height: 40px;
	background: #0052b1;
}
.active-sidebar .sidebar::before {
	left: 42px;
}
.sidebar svg {
	display: block;
	width: 20px;
	height: 20px;
	fill: #3f3f3f;
	pointer-events: none;
}
.sidebar-menu {
	display: flex;
	flex-direction: column;
	list-style: none;
	height: 100%;
	border-right: 2px solid lightgray;
}
.sidebar-menu li {
	padding: 10px 11px;
	cursor: pointer;
}

.sidebar-menu .last-item {
	margin-top: auto;
}
.sidebar-menu li:first-child {
	margin-top: 0;
}
.sidebar-menu li:hover svg {
	animation: scale 500ms ease-in;
	transform-origin: center;
}
.sidebar-menu li:hover svg.bi-gear {
	animation: rotation 500ms ease-in;
	transform-origin: center;
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}

}
.active-item {
	background: #0052b1;
}
.active-item svg {
	fill: #fff;
}
.item-content {
	display: none;
	margin-top: 8px;
	padding-right: 10px;
	height: 100%;
}
.item-content .content {
	overflow: auto;
	margin-top: 15px;
	height: calc(100% - 50px);
	padding: 0 10px 0 0 !important;
}
.sidebar-content {
	width: 100%;
	opacity: 0;
	pointer-events: none;
	margin-bottom: 15px;
	transition: opacity 500ms;
	overflow: hidden;
}
.active-sidebar .sidebar-content {
	opacity: 1;
	pointer-events: visible;
	transition: opacity 200ms;
}
.sidebar-content h2 {
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	white-space: nowrap;
	width: calc(100% - 10px);
	height: 25px;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
}
.active-content {
	display: block;
}
/*------------- sidebar styles ------------- */

#distanceControlGrid,
#optimizeRouteGrid {
	width: 100%;
	height: calc(100% - 200px);
}
#optimizeRouteGrid {
	height: 65vh;
}
.ag-theme-alpine {
	--ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
	--ag-control-panel-background-color: var(--control-panel-bg-color:);
	--ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
	--ag-header-column-resize-handle-color: #0e377b;
	--ag-odd-row-background-color: var(--white-color);
}
.ag-header-cell-label {
	justify-content: center;
	text-align: center;
}
.text-center .ag-cell-wrapper {
	text-align: center;
}

#distanceControlGrid .ag-cell-value,
#optimizeRouteGrid .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

#distanceControlGrid .cell-wrap-text,
#optimizeRouteGrid .cell-wrap-text {
	white-space: normal !important;
}
#optimizeRouteGrid .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}
#optimizeRouteGrid .group-cell .ag-cell-value {
	line-height: inherit !important;
	word-break: normal;
	padding-top: 0;
	padding-bottom: 0;
}
#optimizeRouteGrid .ag-cell-value.group-cell .ag-group-value{
	padding-top: 10px;
	padding-bottom: 10px;
}
#optimizeRouteGrid .ag-row.red-row {
	background-color: rgba(255, 0, 0, 0.3);
}
#optimizeRouteGrid .green-cell {
	background-color: rgba(145, 238, 145, 0.4);
}

#emptyTruckContainer {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	background-color: #f8f8f8;
	border: 1px solid #babfc7;
	border-top: none;
	font-weight: bold;
	font-size: 0.8rem;
}

.toggler-container {
	/* margin: 0 0 0.5rem 0.25rem; */
	padding: 5px;
	border-bottom: 2px solid #0e377b;
}
.toggler-container label {
	display: flex;
	align-items: center;
	gap: 5px;
}
.toggler-container span, .toggler {
	cursor: pointer;
}
.toggler {
	appearance: none;
	position: relative;
	display: inline-block;
	background: lightgrey;
	height: 1.65rem;
	width: 2.75rem;
	margin-right: 5px;
	vertical-align: middle;
	border-radius: 2rem;
	box-shadow: 0px 1px 3px #0003 inset;
	transition: 0.25s linear background;
}
.toggler::before {
	content: "";
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	background: #fff;
	border-radius: 1.2rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	box-shadow: 0px 1px 3px #0003;
	transition: 0.25s linear transform;
	transform: translateX(0rem);
}
.toggler:checked {
	background: #0e377b;
}
.toggler:checked::before {
	transform: translateX(1rem);
}
.toggler:focus {
	outline-color: transparent;
}
.toggler:focus-visible {
	outline: 2px solid dodgerblue;
	outline-offset: 2px;
}

.modal {
	font-family: var(--font-family-sans-serif);
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.error-message {
	color: red;
	font-size: 12px;
	padding-left: 10px;
}

.accordion .accordion-btn {
	position: relative;
	display: inline-block;
	text-align: center;
	width: auto;
	padding: 0;
	color: #7288a2;
	font-size: 1.15rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
}
.accordion .accordion-btn:hover {
	color: #495a6e;
}

.car-inputs-container {
	position: relative;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	margin: 10px 0;
	padding: 10px 0;
}
.car-inputs-container__header .input-table {
	grid-template-columns: 6fr 1fr 2fr 2fr 2fr;
	grid-template-rows: 1fr;
}
.car-inputs-container__body {
	height: 152px;
	overflow-y: scroll;
}
#addCarInputsBtn {
	position: absolute;
	top: 9px;
	left: 0;
	padding: 2px 5px;
	font-size: 1.3rem;
	line-height: 1;
}
#addCarInputsBtn:focus {
	box-shadow: none;
}
#carInputsTable {
	grid-template-columns: 6fr 1fr 2fr 2fr 2fr;
	grid-column-gap: 5px;
	grid-row-gap: 2px;
}
#carInputsTable .form-control {
	max-width: none;
	padding: 0.2rem 0.3rem
}

#settings .optimizeRouteSelect {
	max-width: 300px;
}

.truckListinputs {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
}
.truckListinputs>* {
	cursor: pointer;
	border: 2px solid gray;
	border-radius: 3px;
}
.truckListinputs>*:hover {
	border-color: #0052b1;
}
.truckListinputs>*:focus,
.truckListinputs>*:focus-visible {
	outline: none;
}