.none {
	display: none !important;
}
.text-red {
	color: red;
}

.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin: 60px 0;
}

#orderForm {
	font-family: var(--font-family-sans-serif);
}
.form-container {
	padding: 0 20px;
	display: flex;
	gap: 25px;
}
.separationLine {
	border: 1px solid #c5d3e0;
	margin: 0 0 0 0;
}
.form-section {
	width: 100%;
}
.form-section.left {
	flex: 3;
}
.form-section.right {
	flex: 2;
}
@media (max-width: 1023px) {
	.form-container {
		flex-direction: column;
		padding: 0 5px;
	}
	.separationLine {
		display: none;
	}
}

.input-row-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.input-row-container span {
	text-wrap: nowrap;
}

.point-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
@media (max-width: 1023px) {
	.point-container .card-body {
		padding: 10px;
	}
}
.row-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.info-container label {
	text-wrap: nowrap;
}
.info-container .pointDate {
	flex: 1;
}
.info-container .cargoName {
	flex: 2;
}
.info-container .cargoPall,
.info-container .cargoWeight,
.info-container .cargoVolume {
	flex: 1;
}
.timeFrame-container {
	flex: 1;
}
.contact-container {
	flex: 3;
}
.address-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.address-container .autocomplete {
	flex: 2;
}
.address-container .address-input {
	flex: 7;
}
.address-flex-elem {
	flex: 5;
}
.customsAddress-flex-elem {
	flex: 3;
}
#orderForm input::-webkit-outer-spin-button,
#orderForm input::-webkit-inner-spin-button,
.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#orderForm input[type=number],
.modal input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}
#orderForm input::placeholder,
.modal input::placeholder {
	color: rgb(143, 143, 143);
}

#orderForm .card-footer {
	display: flex;
	justify-content: center;
	gap: 5px;
}
#orderForm button.btn-lg {
	width: 30%;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border-radius: 0.3rem;
}
@media (max-width: 1023px) {
	#orderForm button.btn-lg {
		width: auto;
		padding: 0.3rem 0.75rem;
		font-size: 1.3rem;
		border-radius: 0.3rem;
	}
}

footer.to-bottom {
	margin-top: 51px;
	/* position: fixed; */
}

.status-info-label {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 25px;
	height: 25px;
	border: 3px solid #80808093;
	border-radius: 50%;
	font-weight: bold;
	font-family: var(--font-family-sans-serif);
	color: #80808093;
	cursor: pointer;
}
.status-info-label:hover {
	border: 3px solid #808080e0;
	color: #808080e0;
}
.status-info {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	width: 300px;
	top: 35px;
	left: 5px;
	z-index: 5;
	background: #fff;
	border: 2px solid #0e377b;
	border-radius: 5px;
	padding: 10px;
	font-size: 12px;
	transition: all 0.3s ease-in-out 0s;
}
.status-info.show {
	visibility: visible;
	opacity: 1;
}

select option:disabled {
	background-color: rgb(194, 194, 194);
	color: rgb(78, 78, 78);
}

.my-link {
	display: inline-block;
	color: #003369;
	text-decoration: none;
}
.my-link:hover,
.my-link:focus {
	color: #0057b3;
	text-decoration: none;
}
.my-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #000;
	transition: width .5s;
}

.my-link:hover::after {
	width: 100%;
	/* transition: width .3s; */
}

.info-text {
	font-size: 1.2rem;
}

.modal {
	font-family: var(--font-family-sans-serif);
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.error-message {
	color: red;
	padding-bottom: 10px;
	margin-top: -5px;
}

.modal-buttons {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
}
.modal-buttons button {
	flex: 30%;
}

.whiteOverlay {
	opacity: 1 !important;
	background-color: #fff !important;
}

.disableSlotRedirect-container {
	display: flex;
	align-items: center;
	gap: 8px;
}
.disableSlotRedirect-container label,
#disableSlotRedirect {
	cursor: pointer;
}
#disableSlotRedirect {
	width: 20px;
	height: 20px;
}

.whiteOverlay {
	opacity: 1 !important;
	background-color: #fff !important;
}

#wayButtons button:nth-child(1) {
	background-color: #3498db;
	border-color: #3498db;
}
#wayButtons button:nth-child(1):active,
#wayButtons button:nth-child(1):focus,
#wayButtons button:nth-child(1):hover {
	background-color: #2283c3;
}
#wayButtons button:nth-child(2) {
	background-color: #e67e22;
	border-color: #e67e22;
}
#wayButtons button:nth-child(2):active,
#wayButtons button:nth-child(2):focus,
#wayButtons button:nth-child(2):hover {
	background-color: #cf6d17;
}
#wayButtons button:nth-child(3) {
	background-color: #43a047;
	border-color: #43a047;
}
#wayButtons button:nth-child(3):active,
#wayButtons button:nth-child(3):focus,
#wayButtons button:nth-child(3):hover {
	background-color: #3c9040;
}

.contact-inputs {
	display: flex;
	gap: 10px;
}
.contact-inputs #fio,
.contact-inputs [name="pointContact_fio"] {
	flex: 4;
}
.contact-inputs #tel,
.contact-inputs [name="pointContact_tel"] {
	flex: 2;
}

.control-btns {
	display: flex;
	align-items: center;
	gap: 10px;
}


.address-container--import {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.address-container--import .row-container {
	flex-wrap: nowrap;
}
.address-container--import .row-container .autocomplete {
	flex: 2;
}
.address-container--import .row-container .postIndex {
	flex: 1;
}
.address-container--import .row-container .region {
	flex: 3;
}
.address-container--import .row-container .city {
	flex: 4;
}
.address-container--import .row-container .street {
	flex: 6;
}
.address-container--import .row-container .building {
	flex: 1;
}
.address-container--import .row-container .buildingBody {
	flex: 1;
}

.time-mark {
	font-size: 0.7rem;
	position: absolute;
	padding: 5px 0;
}

.customsInPointAddress-container {
	width: fit-content;
}

.timeFrame-container--import,
.contact-container--import {
	flex: 1;
}
.timeFrame-container--import input {
	width: fit-content;
}
.timeFrame-container--import input[type='checkbox'] {
	width: 25px;
	aspect-ratio: 1;
}
.timeFrame-inputs--import {
	display: grid;
	align-items: center;
	grid-template-columns: 4fr 1fr 3fr 1fr 3fr 1fr 4fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 10px;
	line-height: 1.5;
}
.grid-item1 { grid-area: 1 / 1 / 2 / 2; }
.grid-item2 { grid-area: 1 / 2 / 2 / 3; }
.grid-item3 { grid-area: 1 / 3 / 2 / 4; }
.grid-item4 { grid-area: 1 / 4 / 2 / 5; }
.grid-item5 { grid-area: 1 / 5 / 2 / 6; }
.grid-item6 { grid-area: 2 / 1 / 3 / 2; }
.grid-item7 { grid-area: 2 / 2 / 3 / 3; }
.grid-item8 { grid-area: 2 / 3 / 3 / 4; }
.grid-item9 { grid-area: 2 / 4 / 3 / 5; }
.grid-item10 { grid-area: 2 / 5 / 3 / 6; }
.grid-item11 { grid-area: 2 / 6 / 3 / 7; }
.grid-item12 { grid-area: 2 / 7 / 3 / 8; }
.grid-item13 { grid-area: 3 / 1 / 4 / 2; }
.grid-item14 { grid-area: 3 / 2 / 4 / 3; }
.grid-item15 { grid-area: 3 / 3 / 4 / 4; }
.grid-item16 { grid-area: 3 / 4 / 4 / 5; }
.grid-item17 { grid-area: 3 / 5 / 4 / 6; }
.grid-item18 { grid-area: 3 / 6 / 4 / 7; }
.grid-item19 { grid-area: 3 / 7 / 4 / 8; }

.contact-inputs--import {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
