.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin-top: 60px;
}

.modal {
	font-family: var(--font-family-sans-serif);
}

.title-container,
.search-form-container {
	min-height: 30px;
	border-left: 1px solid #babfc7;
	border-right: 1px solid #babfc7;
	background-color: lightsteelblue;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 1px 10px;
}
.title-container {
	position: relative;
	align-items: center;
	border-top: 1px solid #babfc7;
	background-color: rgb(167, 186, 211) !important;
}
.title-container h3 {
	margin-bottom: 0;
	font-size: 22px;
	color: #393737;
}
.search-form-container {
	display: flex;
	gap: 0;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family-sans-serif);
}
.search-form-container form {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 2px 0;
}
.search-form-container label {
	text-wrap: nowrap;
}
.search-form-container .form-control,
.search-form-container .btn {
	padding: 0 8px;
	height: 30px;
}
.search-form-container input[type="date"] {
	width: 120px;
}
.search-form-container input[type="text"] {
	width: 260px;
}
.accordion .search-form-container .accordion-btn {
	position: relative;
	width: 100%;
	padding: 5px 0;
}
.accordion .search-form-container .accordion-btn.collapsed::after {
	content: '\276E';
	position: absolute;
	top: 5px;
	right: 10px;
	transform: rotate(-90deg);
}
.accordion .search-form-container .accordion-btn::after {
	content: '\276E';
	position: absolute;
	top: 5px;
	right: 10px;
	transform: rotate(90deg);
}
.point-container .accordion .card {
	overflow: visible;
}

.form-check-input {
	width: 1.5em;
	height: 1.5em;
	margin-top: 0.3em;
}
.form-check-label {
	font-size: 1.1em;
	cursor: pointer;
	font-weight: 600;
	opacity: 0.6;
	padding: 0.2em 0.5em;
	border-radius: 0.4em;
	transition: all 0.2s ease;
	background-color: transparent;
}
.form-check-input:checked + .form-check-label {
	opacity: 1;
	background-color: #e0f0ff;
	box-shadow: 0 0 0 2px #007bff40;
}

#myGrid {
	width: 100%;
	height: calc(100vh - 133px);
}
@media (min-width: 992px) {
	.search-form-container form.collapse {
		display: flex;
	}
	.accordion .search-form-container .accordion-btn {
		display: none;
	}
}
@media (max-width: 991px) {
	#myGrid {
		height: calc(100vh - 128px);
	}
}

.ag-theme-alpine {
	--ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
	--ag-control-panel-background-color: var(--control-panel-bg-color:);
	--ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
	--ag-header-column-resize-handle-color: #0e377b;
	--ag-odd-row-background-color: var(--white-color);
}
.ag-theme-alpine .ag-side-buttons {
    background-color: #a7bad3;
    font-weight: 600;
}
.ag-header-cell-filtered {
	background-color: #0e377b !important;
	color: var(--white-color) !important;
}
.ag-header-cell-filtered span {
	color: var(--white-color) !important;
}
.ag-header-cell-label {
	justify-content: center;
	text-align: center;
}
.text-center .ag-cell-wrapper {
	text-align: center;
}
.ag-pinned-left-header {
	border-right: 3px solid lightslategray;
}
.ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
	border-right: 3px solid lightslategray;
}

#myGrid .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .ag-cell-value.group-cell {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 0;
	padding-bottom: 0;
}
#myGrid .ag-cell-value.group-cell .ag-group-value{
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .cell-wrap-text {
	white-space: normal !important;
}
#myGrid .orange-row,
.status-info .led-orange {
	background-color: #ffb97f;
}
#myGrid .turquoise-row,
.status-info .led-turquoise {
	background-color: #0fcbc9;
}
#myGrid .light-purple-row,
.status-info .led-light-purple {
	background-color: #bdace7;
}
#myGrid .grey-row,
.status-info .led-grey {
	background-color: rgba(128, 128, 128, 0.3);
}
#myGrid .dark-turquoise-row,
.status-info .led-dark-turquoise {
	background-color: #0195ae;
}
#myGrid .yellow-row,
.status-info .led-yellow {
	background-color: rgba(255, 255, 0, 0.3);
}
#myGrid .red-row,
.status-info .led-red {
	background-color: rgba(255, 0, 0, 0.3);
}
#myGrid .light-green-row,
.status-info .led-light-green {
	background-color: rgba(144, 238, 144, 0.3);
}
#myGrid .dark-green-row,
.status-info .led-dark-green {
	background-color: rgba(0, 128, 0, 0.3);
}
#myGrid .blue-row,
.status-info .led-blue {
	background-color: rgba(0, 174, 255, 0.3);
}
#myGrid .purple-row,
.status-info .led-purple {
	background-color: #9872db;
}

.status-info-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border: 3px solid #80808093;
	border-radius: 50%;
	font-weight: bold;
	font-family: var(--font-family-sans-serif);
	color: #80808093;
	cursor: pointer;
}
.status-info {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	width: 300px;
	top: 35px;
	left: 5px;
	z-index: 5;
	background: #fff;
	border: 2px solid #0e377b;
	border-radius: 5px;
	padding: 10px;
	font-size: 12px;
	transition: all 0.3s ease-in-out 0s;
}
.status-info.show {
	visibility: visible;
	opacity: 1;
}
.status-info ul {
	display: flex;
	margin-bottom: 7px;
}
.status-info ul:last-child {
	margin-bottom: 0;
}
.status-info .led {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 50%;
}



.none {
	display: none !important;
}
.text-red {
	color: red;
}

.navbar {
	background-color: #0e377b !important;
}

.modal form {
	font-family: var(--font-family-sans-serif);
}
.form-container {
	padding: 0 10px;
	display: flex;
	max-height: 76vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
.routeInfo-container {
	display: flex;
	gap: 25px;
}
.separationLine {
	border: 1px solid #c5d3e0;
	margin: 0 0 15px 0;
}
.form-section {
	width: 100%;
}
.form-section.left {
	flex: 2;
}
.form-section.right {
	flex: 2;
}
.form-section.map {
	flex: 2;
	position: relative;
}
@media (max-width: 1023px) {
	.routeInfo-container {
		flex-direction: column;
		padding: 0 5px;
	}
	.separationLine {
		display: none;
	}
}

.input-row-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.input-row-container span {
	text-wrap: nowrap;
}

.point-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
}
@media (max-width: 1023px) {
	.point-container .card-body {
		padding: 10px;
	}
}
.row-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.info-container label {
	text-wrap: nowrap;
}
.info-container .pointDate {
	flex: 1;
}
.info-container .cargoName {
	flex: 2;
}
.info-container .cargoPall,
.info-container .cargoWeight,
.info-container .cargoVolume {
	flex: 1;
}
.addresses-container{
	flex-direction: column;
	gap: 0;
}
.addresses-container div {
	flex: 1;
}
.address-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.address-container .autocomplete {
	flex: 2;
}
.address-container #address,
.address-container #customsAddress {
	flex: 7;
}
 .timeFrame-container {
	flex: 1;
}
 .contact-container {
	flex: 3;
}
.modal form input::-webkit-outer-spin-button,
.modal form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.modal form input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}
.modal form input::placeholder {
	color: rgb(179, 179, 179);
}
.modal form .card-footer {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.accordion .accordion-btn {
	position: relative;
	display: inline-block;
	text-align: center;
	width: auto;
	padding: 0;
	color: #7288a2;
	font-size: 1.15rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
}
.accordion .accordion-btn:hover {
	color: #495a6e;
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.selected {
	opacity: 0.6;
}
.dragItem {
	cursor: move;
}

.control-btns {
	display: flex;
	align-items: center;
	gap: 10px;
}

#map {
	width: 100%;
	height: 100%;
	border: 2px solid lightgrey;
	transition: transform ease-in-out 300ms 300ms;
}
#map .leaflet-control-attribution svg {
	visibility: hidden;
}

#routeBtn {
	position: absolute;
	bottom: 0;
	z-index: 999;
}

.my-link {
    display: inline-block;
    color: #003369;
    text-decoration: none;
}
.my-link:hover,
.my-link:focus {
    color: #0057b3;
    text-decoration: none;
}
.my-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .5s;
}

.my-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}

.ag-cell.needEdit {
	border: 3px solid #22ac45;
}

.contact-inputs {
	display: flex;
	gap: 10px;
}
.contact-inputs #fio,
.contact-inputs [name="pointContact_fio"] {
	flex: 4;
}
.contact-inputs #tel,
.contact-inputs [name="pointContact_tel"] {
	flex: 2;
}

.control-btns {
	display: flex;
	align-items: center;
	gap: 10px;
}


.address-container--import {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.address-container--import .row-container {
    flex-wrap: nowrap;
}
.address-container--import .row-container .autocomplete {
    flex: 2;
}
.address-container--import .row-container .postIndex {
    flex: 1;
}
.address-container--import .row-container .region {
    flex: 3;
}
.address-container--import .row-container .city {
    flex: 4;
}
.address-container--import .row-container .street {
    flex: 6;
}
.address-container--import .row-container .building {
    flex: 1;
}
.address-container--import .row-container .buildingBody {
    flex: 1;
}

.time-mark {
    font-size: 0.7rem;
    position: absolute;
    padding: 5px 0;
}

.customsInPointAddress-container {
    width: fit-content;
}

.timeFrame-container--import,
.contact-container--import {
    flex: 1;
}
.timeFrame-container--import input {
    width: fit-content;
}
.timeFrame-container--import input[type='checkbox'] {
    width: 25px;
    aspect-ratio: 1;
}
.timeFrame-inputs--import {
	display: grid;
	align-items: center;
	grid-template-columns: 4fr 1fr 3fr 1fr 3fr 1fr 4fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 10px;
	line-height: 1.5;
}
.grid-item1 { grid-area: 1 / 1 / 2 / 2; }
.grid-item2 { grid-area: 1 / 2 / 2 / 3; }
.grid-item3 { grid-area: 1 / 3 / 2 / 4; }
.grid-item4 { grid-area: 1 / 4 / 2 / 5; }
.grid-item5 { grid-area: 1 / 5 / 2 / 6; }
.grid-item6 { grid-area: 2 / 1 / 3 / 2; }
.grid-item7 { grid-area: 2 / 2 / 3 / 3; }
.grid-item8 { grid-area: 2 / 3 / 3 / 4; }
.grid-item9 { grid-area: 2 / 4 / 3 / 5; }
.grid-item10 { grid-area: 2 / 5 / 3 / 6; }
.grid-item11 { grid-area: 2 / 6 / 3 / 7; }
.grid-item12 { grid-area: 2 / 7 / 3 / 8; }
.grid-item13 { grid-area: 3 / 1 / 4 / 2; }
.grid-item14 { grid-area: 3 / 2 / 4 / 3; }
.grid-item15 { grid-area: 3 / 3 / 4 / 4; }
.grid-item16 { grid-area: 3 / 4 / 4 / 5; }
.grid-item17 { grid-area: 3 / 5 / 4 / 6; }
.grid-item18 { grid-area: 3 / 6 / 4 / 7; }
.grid-item19 { grid-area: 3 / 7 / 4 / 8; }

.contact-inputs--import {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.address-container .autocomplete {
    flex: 2;
}
.address-container .address-input {
    flex: 7;
}
.address-flex-elem {
    flex: 5;
}
.customsAddress-flex-elem {
    flex: 3;
}