body {
    background-image: url('../../resources/img/mainPage/images/bg.webp') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #0e377b !important;
}
.none {
    display: none !important;
}
.hidden {
    visibility: hidden !important;
}
.companyName-container {
    position: relative;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
}

.pass-container,
.numContract-container,
.userInfo-container {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pass-container .form-group,
.numContract-container .form-group,
.userInfo-container .form-group {
    width: 250px;
}
@media (max-width: 660px) {
    .pass-container .form-group,
    .numContract-container .form-group,
    .userInfo-container .form-group {
        width: 100%;
    }
}

.error-message {
    color: red;
    padding-bottom: 10px;
    margin-top: -5px;
}

#formInt {
    margin-top: 60px;
    height: calc(100vh - 60px);
}

.registrationCertificate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.registrationCertificate-container .form-group {
    display: flex;
    gap: 10px;
}
.registrationCertificate-container label {
    padding-bottom: 17px;
    align-self: center;
}

.tir-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px !important;
}

.tir-container label {
    font-size: 20px;
}
.tir-container #check_tir {
    width: 20px;
    height: 20px;
}

.directions-container {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;
    margin-bottom: 10px !important;
    padding: 0 10px;
}
.directions-container .form-check {
    width: 120px;
}

.feature-container {
    display: grid; 
    grid-template-columns: 2fr 5fr;
    gap: 10px 20px; 
    margin-bottom: 10px !important;
    padding: 0 10px;
}

#regform details {
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    width: 170px;
    transition: all 200ms;
    background-color: white;
}
#regform details summary {
    display: list-item;
    cursor: pointer;
    background-color: grey;
    color: white;
    font-weight: normal;
    padding-left: 5px;
}
#regform summary {
    text-align:start;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
#regform details summary:hover {
    background-color: #9c9c9c;
}
#regform details[open] {
    padding: 0.5em;
    width: 100%;
}
#regform details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

#regform h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#regform p {
    color: #b1b1b1;
}

#regform .form-check {
    padding-left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}

#regform .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 20px;
    height: 20px;
}
#regform .form-check-input,
#regform label {
    cursor: pointer;
}

#regform #requisites {
    margin-bottom: 2px;
    height: 30px;
}
#regform #affiliatedCompanies {
    height: 30px;
}
#regform #registrationCertificate_ser {
    width: 80px;
}

#regform #registrationCertificate_date {
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
}

#regform {
    text-align: center;
    position: relative;
}

#regform fieldset .form-card {
    padding: 0 20px 20px 20px;
}

#regform .form-group {
    margin-bottom: 0;
}

#regform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

/*Hide all except first fieldset*/
#regform fieldset:not(:first-of-type) {
    display: none;
}

#regform .form-control, #regform textarea {
    padding: 0px 8px 0 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 18px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#regform input::-webkit-outer-spin-button,
#regform input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#regform input[type=number] {
  -moz-appearance: textfield;
}

#regform input:focus, #regform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid #081f45;
    outline-width: 0;
}

/*Blue Buttons*/
#regform .action-button {
    width: 120px;
    background: #081f45;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#regform .action-button:hover,
#regform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #081f45;
}
#regform .action-button:focus {
    border-bottom: 0;
}

#regform .action-button:disabled {
    background: #577ca1;
    color: rgb(202, 202, 202);
    cursor: default;
}
#regform .action-button:hover:disabled,
#regform .action-button:focus:disabled {
    box-shadow: none;
}


/*Previous Buttons*/
#regform .action-button-previous {
    width: 120px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#regform .action-button-previous:hover, #regform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar.short li {
    width: 33.3%;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #company:before {
    font-family: FontAwesome;
    content: "\f0ce";
}

#progressbar #transport:before {
    font-family: FontAwesome;
    content: "\f0d1";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #081f45;
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}

#regform .spinner-border {
    width: 50px;
    height: 50px;
}



