.none {
	display: none;
}
.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin-top: 83px;
	font-family: 'Roboto', sans-serif;
}

footer.to-bottom {
	margin-top: 51px;
	position: fixed;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
	background-color: var(--secondary-color) !important;
}
.modal {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}
.btn:disabled {
	cursor: default;
}

.calendar-wrapper {
	margin: 0 auto;
	padding-top: 83px;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 5px;
	position: relative;
}
.calendar-wrapper.smallHeader {
	padding-top: 64px;
}
.calendar-wrapper .btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--btn-bg-color);
	--bs-btn-border-color: var(--btn-bg-color);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--btn-hover-bg-color);
	--bs-btn-hover-border-color: var(--btn-hover-bg-color);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--primary-color);
	--bs-btn-active-border-color: var(--primary-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--btn-bg-color);
	--bs-btn-disabled-border-color: var(--btn-bg-color);
}
.mobile-tooltip {
	font-weight: 300;
	font-size: 1.1rem;
	color: #444444;
}
.pallInfo-container {
	position: absolute;
	top: 90px;
	right:200px;
}
.smallHeader .pallInfo-container {
	top: 71px;
}
.pallInfo {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #9e9e9e4a;
	border: 4px solid #2c3e50;
}
#eventInfo {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.status-info-container {
	position: absolute;
	top: 0;
	right: 2px;
	margin: 7px;
}
.status-info-label {
	padding: 2px 10px;
	border-radius: 50%;
	background-color: #03A9F4;
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
	cursor: help;
	transition: background-color .3s;
}
.status-info-label:hover {
	background-color: #0e377b;
}
.status-info {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	width: 300px;
	top: 25px;
	right: 35px;
	z-index: 5;
	background: #fff;
	border: 2px solid #0e377b;
	border-radius: 5px;
	padding: 10px;
	font-size: 12px;
	transition: all 0.3s ease-in-out 0s;
}
.status-info.show {
	visibility: visible;
	opacity: 1;
}
.status-info ul {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}
.status-info ul:last-child {
	margin-bottom: 0;
}

.status-info .led {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 50%;
}


/* ------- левая боковая панель ------- */
.left-sidebar {
	position: relative;
	background-color: white;
	width: 540px;
	padding: 15px 15px 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
}
.left-sidebar-title {
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 5px;
}

.separator {
	height: 5px;
	background-color: #75b8c7;
	margin: 0 -20px;
}


/* ------- календарь ------- */
#calendar {
	background: #fff;
	padding: 5px;
}
#calendar .fc-license-message {
	visibility: hidden;
}
.fc .fc-view-harness {
	margin-right: 45px;
}
.fc-timegrid-slot-label {
	font-size: 70%;
	opacity: 0.5;
	font-weight: 400;
}
.fc-timegrid-slot-label[data-time*=":00:00"] {
	font-weight: bold;
	font-size: 85%;
	opacity: 1;
}
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="08:00:00"],
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="20:00:00"] {
	border-top: none;
	border-bottom: none;
	background: repeating-linear-gradient(
		45deg,
		#ffffff,
		#ffffff 10px,
		#f44336 10px,
		#f44336 20px
	);
}
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="08:10:00"],
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="20:10:00"] {
	border-top: none;
	border-bottom: none;
	background: repeating-linear-gradient(
		45deg,
		#f44336 4.15px,
		#f44336 14.15px,
		#ffffff 14.15px,
		#ffffff 24.15px
	);
}
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="08:20:00"],
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="20:20:00"] {
	border-top: none;
	border-bottom: none;
	background: repeating-linear-gradient(
		45deg,
		#f44336 18.30px,
		#f44336 28.30px,
		#ffffff 28.30px,
		#ffffff 38.30px
	);
}
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="08:30:00"],
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="20:30:00"] {
	border-top: none;
	border-bottom: none;
	background: repeating-linear-gradient(
		45deg,
		#ffffff 2.45px,
		#ffffff 12.45px,
		#f44336 12.45px,
		#f44336 22.45px
	);
}
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="08:40:00"],
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="20:40:00"] {
	border-top: none;
	border-bottom: none;
	background: repeating-linear-gradient(
		45deg,
		#f44336 6.6px,
		#f44336 16.6px,
		#ffffff 16.6px,
		#ffffff 26.6px
	);
}
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="08:50:00"],
#calendar[data-stock="1700"] .fc-timegrid-slot-lane[data-time="20:50:00"] {
	border-top: none;
	border-bottom: none;
	background: repeating-linear-gradient(
		45deg,
		#f44336 20.75px,
		#f44336 30.75px,
		#ffffff 30.75px,
		#ffffff 40.75px
	);
}
.fc-timegrid-slots table tr {
	transition: all .15s ease;
}
.fc-timegrid-slots table tr:hover {
	background: var(--quinary-color) !important;
	transition: all .15s ease;
}
.fc .fc-highlight {
	background: var(--secondary-color) !important;
}
.fc .fc-timegrid-slot {
	height: 20px;
}
.fc .fc-timegrid-now-indicator-line {
	border-width: 2px 0 0 0;
}
.fc-event-main .close {
	position: absolute;
	top: -4px;
	right: 1px;
	font-size: 1.5rem;
	color: #000;
	width: 0.7em;
	height: 0.7em;
	cursor: pointer;
}
.fc-event-main .close:hover {
	opacity: .75;
	text-decoration: underline;
}
.fc-event-main .close:disabled {
	color: #ababab;
	cursor: default;
}
.fc-event-main .popup {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 0.7rem;
	color: #000;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	padding: 0;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-weight: 700;
	line-height: 1;
	text-shadow: none;
	opacity: 1;
	border: 2px solid #000;
	border-radius: 50%;
}
.fc-event-main .popup:hover {
	opacity: .75;
	text-decoration: underline;
}
.fc .fc-non-business {
	background: #c4c4c4b5;
}

/* ------- ивенты ------- */
.events-container {
	background-color: #eeeeee;
	border: 1px solid #ccc;
}
.events-container p {
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
	padding: 5px;
	color: #0e377b;
}
#external-events {
	width: 100%;
	padding: 0.5rem 1rem 1rem 1rem;
	/* border: 1px solid #ccc; */
	background: #eee;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 0.5rem;
	height: calc(100vh - 350px);
	overflow-y: scroll;
}
#external-events .fc-event {
	width: 48%;
	height: fit-content;
	cursor: move;
	background-color: var(--secondary-color);
	padding: 5px;
	border-radius: 3px;
	color: #fff;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
#external-events .event-title {
	text-align: center;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}
#external-events .single-slot {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 0.9rem;
}


/* ------- AG-Grid таблица ------- */
.ag-theme-alpine {
	--ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
	--ag-control-panel-background-color: var(--control-panel-bg-color:);
	--ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
	--ag-header-column-resize-handle-color: lightslategray;
	--ag-odd-row-background-color: var(--white-color);
	--ag-header-background-color: #eeeeee;
}
.ag-grid-container {
	height: 95%;
	margin-top: 7px;
}
.ag-theme-alpine .ag-side-buttons {
	background-color: #a7bad3;
	font-weight: 600;
}
.ag-header-cell-filtered {
	background-color: #0e377b !important;
	color: var(--white-color) !important;
}
.ag-header-cell-filtered span {
	color: var(--white-color) !important;
}
.ag-header-cell-label {
	justify-content: center;
	text-align: center;
}
.text-center .ag-cell-wrapper {
	text-align: center;
}
.ag-pinned-left-header {
	border-right: 3px solid lightslategray;
}
.ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
	border-right: 3px solid lightslategray;
}

#myGrid .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .ag-cell-value.group-cell {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 0;
	padding-bottom: 0;
}
#myGrid .ag-cell-value.group-cell .ag-group-value{
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .cell-wrap-text {
	white-space: normal !important;
}
#myGrid .orange-row,
.status-info .led-orange {
	background-color: #ffb97f;
}
#myGrid .turquoise-row,
.status-info .led-turquoise {
	background-color: #0fcbc9;
}
#myGrid .light-purple-row,
.status-info .led-light-purple {
	background-color: #bdace7;
}
#myGrid .grey-row,
.status-info .led-grey {
	background-color: rgba(128, 128, 128, 0.3);
}
#myGrid .dark-turquoise-row,
.status-info .led-dark-turquoise {
	background-color: #0195ae;
}
#myGrid .yellow-row,
.status-info .led-yellow {
	background-color: rgba(255, 255, 0, 0.3);
}
#myGrid .red-row,
.status-info .led-red {
	background-color: rgba(255, 0, 0, 0.3);
}
#myGrid .light-green-row,
.status-info .led-light-green {
	background-color: rgba(144, 238, 144, 0.3);
}
#myGrid .dark-green-row,
.status-info .led-dark-green {
	background-color: rgba(0, 128, 0, 0.3);
}
#myGrid .blue-row,
.status-info .led-blue {
	background-color: rgba(0, 174, 255, 0.3);
}
#myGrid .purple-row,
.status-info .led-purple {
	background-color: #9872db;
}


/* ------- правый сайдбар ------- */
svg:not(:root) {
	overflow: hidden;
}
.hidden {
	display: none;
}
.sidebar {
	margin-top: 135px;
	display: flex;
	gap: 0;
	position: absolute;
	right: 0;
	width: 46px;
	max-width: 760px;
	z-index: 999;
	background: #fff;
	box-shadow: none;
	overflow: hidden;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	height: 100%;
}
.sidebar.smallHeader {
	margin-top: 135px;
}
.active-sidebar .sidebar {
	max-width: 760px;
	width: 100%;
}
@media (min-width: 768px) {
	.sidebar {
		top: 0px;
		right: 0px;
		height: calc(100% - 135px);
		border: 2px solid rgba(0, 0, 0, 0.2);
		transition: width 500ms;
	}
	.active-sidebar .sidebar {
		max-width: 760px;
		width: 100%;
		transition: width 1s;
	}
}
.close-button {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 8px;
	border: none;
	padding: 5px;
	margin: 0;
	padding: 0;
	border-radius: 3px;
	background: none;
	opacity: 0;
	pointer-events: none;
}
.active-sidebar .close-button {
	pointer-events: all;
	opacity: 1;
	transition: opacity 100ms ease-in-out;
}
.sidebar .close-button svg {
	fill: #fff;
}
.sidebar::before {
	position: absolute;
	content: "";
	z-index: -1;
	left: 44px;
	width: 100%;
	height: 40px;
	background: var(--secondary-color);
}
.active-sidebar .sidebar::before {
	left: 42px;
}
.sidebar svg {
	display: block;
	width: 20px;
	height: 20px;
	fill: #3f3f3f;
	pointer-events: none;
}
.sidebar-menu {
	display: flex;
	flex-direction: column;
	list-style: none;
	height: 100%;
	border-right: 2px solid lightgray;
}
.sidebar-menu li {
	padding: 10px 11px;
	cursor: pointer;
}

.sidebar-menu li:last-child {
	margin-top: auto;
}
.sidebar-menu li:first-child {
	margin-top: 0;
}
.sidebar-menu li:hover svg.bi-gear {
	animation: rotation 500ms ease-in;
	transform-origin: center;
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}
.active-item {
	background: var(--secondary-color);
}
.active-item svg {
	fill: #fff;
}
.item-content {
	display: none;
	margin-top: 8px;
	padding-right: 0;
	height: 100%;
}
.item-content .content {
	overflow: auto;
	margin-top: 15px;
	height: calc(100% - 50px);
	padding: 0 10px 0 0 !important;
}
.sidebar-content {
	width: 100%;
	opacity: 0;
	pointer-events: none;
	/* margin-bottom: 15px; */
	transition: opacity 500ms;
	overflow: hidden;
}
.active-sidebar .sidebar-content {
	opacity: 1;
	pointer-events: visible;
	transition: opacity 200ms;
}
.sidebar-content h2 {
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	white-space: nowrap;
	width: calc(100% - 10px);
	height: 25px;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
}
.active-content {
	display: block;
}
