* {
    box-sizing: border-box;
}
.navbar {
    background-color: #0e377b !important;
}
.raz {
    -moz-appearance: textfield;
}
.raz::-webkit-inner-spin-button {
    display: none;
}
.raz2 {
    all: unset;
    -moz-appearance: textfield;
    width: 3em;
    text-align: center;
}
.raz2::-webkit-inner-spin-button {
    display: none;
}
.none {
    display: none;
}
.my-container {
    margin-bottom: 120px;
    font-family: "Open Sans", sans-serif;
}
.route-card.card {
    background-color: #f9f9f9;
    border: 2px solid #0e377b;
    margin-bottom: 20px;
}
p.card-text {
    margin-bottom: 0;
}
.route-title {
    text-align: center;
    text-wrap: balance;
    font-size: 1.75rem;
}
.route-subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.offer-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.offer-container .raz {
    max-width: 200px;
    min-width: 80px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
.auction-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.auction-container .raz2 {
    font-weight: bold;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border: 2px solid #0e377b;
    border-radius: 5px;
    margin: 0 2px;
}
.card-header select {
    font-family: "Open Sans", sans-serif;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
}
.route-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.route-info {
    display: flex;
    flex-direction: column;
    color: #8c8c8c;
    line-height: 1.5;
}
.card-footer table {
    font-family: "Open Sans", sans-serif;
}
.dateUnloadInfo {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
footer.to-bottom {
    margin-top: 51px;
    position: fixed;
}
@media (max-width: 1023px) {
    .info-container {
        flex-direction: column;
        padding-bottom: 5px !important;
    }
    .route-info {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .comment-info, .tnvd-info {
        flex-direction: column;
        gap: 0;
    }
    .route-title {
        text-align: center;
        text-wrap: balance;
        font-size: 1.25rem;
    }
    footer.to-bottom {
        margin-top: 60px;
        position: relative;
    }
}
@media (max-width: 1100px) {
    .table-scroll.status-table {
        overflow-x: scroll;
    }
}
@media (max-width: 500px) {
    .table-scroll {
        overflow: scroll;
    }
    
}


.offer-container .badge-success {
    border-radius: .25rem;
}
.input-group.discount-group {
    width: 115px;
}
.input-group.discount-group .btn {
    width: 35px;
}
.input-group.userPrice-group {
    width: 115px;
}