* {
    box-sizing: border-box;
}
.navbar {
    background-color: #0e377b !important;
}
.my-container {
    margin-top: 66px;
}
.title {
    margin-bottom: 5px;
}
.tender-message a {
    font-weight: bold;
    color: #0e377b;
}
.none {
    display: none;
}
.card.activRow {
    background-color: #c4ffe1db;
}
.card.attentionRow {
    background-color: #dce37266;
}
.columns {
    float: left;
    width: 100%;
    padding: 8px;
    font-size: 200%;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}
.price .header {
    background-color: #111;
    color: white;
    font-size: 200%;
}
.header-activ {
    background-color: #00e571db;
    color: white;
    font-size: 200%;
}
.header-attention {
    background-color: #dce37266;
    color: white;
    font-size: 200%;
}
.price li {
    border-bottom: 1px solid #eee;
    padding: 15px;
    text-align: center;
}
.price .grey {
    background-color: #eee;
    font-size: 200%;
}

footer.to-bottom {
    margin-top: 51px;
    position: fixed;
}

#myGrid {
    width: 100%;
    height: calc(100vh - 238px);
}
@media (max-width: 767px) {
    .my-container {
        margin-top: 63px
    }
    .my-container.container {
        padding: 0;
    }
    .title {
        margin: 5px 0;
        font-size: 1.5em;
    }
    .tender-message {
        font-size: 14px;
    }
    footer.to-bottom {
        margin-top: 60px;
        position: relative;
    }
}

.ag-theme-alpine {
    /* --ag-border-color: #0e377b; */
    --ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
    /* --ag-secondary-border-color: #0e377b; */
    --ag-control-panel-background-color: var(--control-panel-bg-color:);
    --ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
    --ag-header-column-resize-handle-color: #0e377b;
}

.ag-header-cell-filtered {
    background-color: #0e377b !important;
    color: var(--white-color) !important;
}
.ag-header-cell-filtered span {
    color: var(--white-color) !important;
}
.ag-header-cell-label {
    justify-content: center;
    text-align: center;
}

.text-center .ag-cell-wrapper {
    text-align: center;
}

#myGrid .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .ag-cell-value.group-cell {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 0;
	padding-bottom: 0;
}
#myGrid .ag-cell-value.group-cell .ag-group-value{
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .cell-wrap-text {
	white-space: normal !important;
}

#myGrid .purpleRow {
    background-color: #f5c4ffdb;
}
#myGrid .activRow {
    background-color: #c4ffe1db;
}
#myGrid .attentionRow {
    background-color: #dce37266;
}

#filterTextBox {
    width: 100%;
    max-width: 300px;
    padding: 0.1rem 0.75rem;
}
#filterTextBox:focus-visible {
    outline: #1f71fa auto 1px;
}
.modal {
    font-family: var(--font-family-sans-serif);
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.title-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    
}
.title-container .btn {
    font-family: var(--font-family-sans-serif);
    font-weight: bold;
    padding: 0.1rem 0.5rem;
}