body {
	height: 100%;
}
.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin-top: 60px;
	margin-bottom: 50px;
}

footer.to-bottom {
	position: fixed;
}

.text-red {
	color: red;
}
.error-message {
	color: red;
	font-size: 12px;
	padding-top: 5px;
}

.my-container, 
.modal {
	font-family: var(--font-family-sans-serif);
}

.my-container input::-webkit-outer-spin-button,
.my-container input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.my-container input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}
.my-container input::placeholder {
	color: rgb(179, 179, 179);
}

.form-group>label {
	font-size: 1.2rem;
}
.form-check-input {
	width: 1.5em;
	height: 1.5em;
	margin-top: 0.3em;
}
.form-check-label {
	font-size: 1.1em;
	cursor: pointer;
	font-weight: 600;
	opacity: 0.6;
	padding: 0.2em 0.5em;
	border-radius: 0.4em;
	transition: all 0.2s ease;
	background-color: transparent;
}
.form-check-input:checked + .form-check-label {
	opacity: 1;
	background-color: #e0f0ff;
	box-shadow: 0 0 0 2px #007bff40;
}
.checkbox-container {
	row-gap: 15px;
	column-gap: 4px;
}
button[type="submit"] {
	width: 50%;
}
#success-message-container {
	padding: 1.5rem;
}

@media (max-width: 576px) {
	.my-container {
		margin-bottom: 80px;
	}
	.form-check-inline {
		display: block;
	}
	button[type="submit"] {
		width: 100%;
	}
	#success-message-container {
		padding: 0;
	}
}