.none {
	display: none;
}
.active {
	background: #c4ffe1db;
}
.navbar {
	background-color: #0e377b !important;
}
.error-message {
	color: red;
	font-size: 12px;
	padding-left: 10px;
}

.my-container {
    margin-top: 60px;
    font-family: var(--font-family-sans-serif);
}

#createTruckForm,
#createDriverForm {
	font-family: var(--font-family-sans-serif);
}
.form-container {
	padding: 0 20px;
	display: flex;
	gap: 15px;
}
.form-container .modal-body {
	flex: 1;
}
.separationLine {
	border: 1px solid #c5d3e0;
	margin: 25px 0;
}
.row-container {
	display: flex;
	gap: 10px;
}

.dimensions-container .form-control {
	padding-left: 8px;
	padding-right: 8px;
}
.info-container {
	display: flex;
	align-items: center;
	gap: 10px 20px;
	flex-wrap: wrap;
}
.date-label {
	align-self: center;
}
.remark {
	margin-left: 10px;
	font-size: 12px;
}
#createTruckForm .form-check {
	padding-left: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	gap: 7px;
}
#createTruckForm .form-check-input {
	position: relative;
	margin-top: 0;
	margin-left: 0;
	width: 20px;
	height: 20px;
}
#createTruckForm .form-check-input,
#createTruckForm .form-check-label {
	cursor: pointer;
}
.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.modal input[type=number] {
	-moz-appearance: textfield;
}
.modal .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}
.modal input[type=date] {
	padding-right: 30px;
}
.modal input[type=file] {
	height: inherit;
}

.my-container input.form-control::-webkit-outer-spin-button,
.my-container input.form-control::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.my-container input[type=number].form-control {
	appearance: textfield;
	-moz-appearance: textfield;
}

#truckImageContainer img,
#driverImageContainer img {
	width: 120px;
	height: 90px;
	object-fit: cover;
}

footer.to-bottom {
	margin-top: 51px;
	position: fixed;
}

#myGrid {
	width: 100%;
	height: calc(100vh - 181px);
}

@media (min-width: 992px) {
	.search-form-container form.collapse {
		display: flex;
	}
	.accordion .search-form-container .accordion-btn {
		display: none;
	}
}
@media (max-width: 991px) {
	.form-container {
		flex-direction: column;
	}
}
@media (max-width: 768px) {
	#myGrid {
		height: calc(100vh - 226px);
	}
}
@media (max-width: 577px) {
	#myGrid {
		height: calc(100vh - 216px);
	}
	footer.to-bottom {
		margin-top: 31px;
		position: relative;
	}
}
@media (max-width: 387px) {
	#myGrid {
		height: calc(100vh - 239px);
	}
	footer.to-bottom {
		margin-top: 58px;
		position: relative;
	}
}

.ag-theme-balham {
	--ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
	--ag-control-panel-background-color: var(--control-panel-bg-color:);
	--ag-cell-horizontal-padding: calc(var(--ag-grid-size)*1.5);
	--ag-header-column-resize-handle-color: #0e377b;
	--ag-odd-row-background-color: var(--white-color);
	--ag-header-column-separator-width: 2px;
}
.ag-theme-balham .ag-side-buttons {
	background-color: #a7bad3;
	font-weight: 600;
}
.ag-header-cell-filtered {
	background-color: #0e377b !important;
	color: var(--white-color) !important;
}
.ag-header-cell-filtered span {
	color: var(--white-color) !important;
}
.ag-header-cell-label {
	justify-content: center;
	text-align: center;
}
.text-center .ag-cell-wrapper {
	text-align: center;
}
.ag-pinned-left-header {
	border-right: 3px solid lightslategray;
}
.ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
	border-right: 3px solid lightslategray;
}

#myGrid .ag-cell-value {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .ag-cell-value.group-cell {
	line-height: 20px !important;
	word-break: normal;
	padding-top: 0;
	padding-bottom: 0;
}
#myGrid .ag-cell-value.group-cell .ag-group-value{
	padding-top: 10px;
	padding-bottom: 10px;
}
#myGrid .cell-wrap-text {
	white-space: normal !important;
}
#myGrid .editable {
	cursor: ew-resize;
}
#myGrid .editCell::before {
	content: '✎';
	color: hsl(214, 93%, 52%);
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 5px;
}

.title-container, 
.toolbar {
	min-height: 30px;
	border-left: 1px solid #babfc7;
	border-right: 1px solid #babfc7;
	background-color: lightsteelblue;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 1px 10px;
}
.title-container {
	position: relative;
	align-items: center;
	border-top: 1px solid #babfc7;
	background-color: rgb(167, 186, 211) !important;
}
.title-container h3 {
	margin-bottom: 0;
	font-size: 22px;
	color: #393737;
}
.toolbar {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 2px 0;
}
.toolbar label {
	text-wrap: nowrap;
}
.toolbar .form-control,
.toolbar .btn {
	padding: 0 8px;
	height: 30px;
}
.toolbar input[type="date"] {
	width: 120px;
}
.toolbar input[type="text"] {
	width: 260px;
}
.toolbar .tools-btn {
	padding: 0 0.75rem;
	border: 2px solid rgb(202, 212, 224);
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
}
.toolbar .tools-btn:hover {
	border: 2px solid #0e377b;
}
.toolbar .tools-btn:focus {
	box-shadow: none
}
.toolbar .tools-btn.active {
	border: 2px solid lightsteelblue;
	background-color: #8394af;
	color: white;
	font-weight: bold;
}