:root {
	--primary-color: #01556a;
	--secondary-color: #0195ae;
	--tertiary-color: #4ca1af;
	--quaternary-color: #85c8de;
	--quinary-color: #b1daea;
	--senary-color: #c4e0e5;

	--btn-bg-color: var(--secondary-color);
	--btn-color: var(--white-color);
	--btn-border-color: var(--btn-bg-color);
	--btn-hover-color: var(--white-color);
	--btn-hover-bg-color: #02a5c2;
	--btn-hover-border-color: #02a5c2;
	--btn-focus-shadow-rgb: 1, 149, 174;
	--btn-active-color: var(--white-color);
	--btn-active-bg-color: #014152;
	--btn-active-border-color: var(--btn-active-bg-color);
	--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--btn-disabled-color: var(--btn-active-bg-color);
	--btn-disabled-bg-color: var(--btn-active-bg-color);
	--btn-disabled-border-color: var(--btn-active-bg-color);

	--prymary-font-color: #333;
	--secondary-font-color: #dae5ea;

	--border-color: var(--primary-color);
	--secondary-border-color: var(--primary-color);

	--bg-gradient-first-color: var(--tertiary-color);
	--bg-gradient-second-color: var(--quinary-color);

	--shadow-color: rgba(34, 60, 80, 0.2);

	--header-bg-color: var(--quaternary-color);
	--odd-row-bg-color: var(--quinary-color);
	--control-panel-bg-color: var(--quinary-color);

	--heading-color: #292922;
	--white-color: #ffffff;
}