.navbar {
    background-color: #0e377b !important;
}

.my-container {
    margin-top: 80px;
}
footer.to-bottom {
    margin-top: 51px;
    position: fixed;
}

.my-container a {
    color: #007bff;
}
.my-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.my-link:hover,
.my-link:focus {
    text-decoration: none;
}
.my-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .5s;
}

.my-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}