.navbar {
	background-color: #0e377b !important;
}
.my-container {
	margin-top: 60px;
	font-family: 'Roboto', sans-serif;
}
footer.to-bottom {
	margin-top: 51px;
	position: fixed;
}

.callback-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 38px;
}
.callback-group .form-check {
	margin-right: 10px;
	line-height: 1.5;
	padding-left: 1.5rem;
}
.callback-group .form-check-input {
	transform: scale(1.5);
	margin-right: 8px;
}
#email-group {
	flex: 1;
}
@media (max-width: 576px) {
	.callback-group {
		flex-direction: column;
		align-items: flex-start;
	}
	#email-group {
		width: 100%;
		margin-top: 10px;
	}
}