<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        <!-- Подключаем application.properties -->
    <context:property-placeholder location="classpath:application.properties"/>
	
	<context:component-scan base-package="by.base.main" />
	<mvc:annotation-driven/>	
	
	<bean id="myDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
	    <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
	    <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/logistdb?useSSL=false&amp;serverTimezone=Europe/Moscow&amp;characterEncoding=utf8" />
	    <property name="username" value="root" />
	    <property name="password" value="5001020" />
	    
<!-- 	    <property name="jdbcUrl" value="jdbc:mysql://93.125.114.112:3311/logistdbNew7?serverTimezone=Europe/Moscow" /> -->
<!-- 	    <property name="username" value="hdf" /> -->
<!-- 	    <property name="password" value="111403hdf" /> -->
	
	    <!-- Настройки пула -->
	    <property name="maximumPoolSize" value="30" />
	    <property name="minimumIdle" value="5" />
	    <property name="idleTimeout" value="300000" /> <!-- 300 секунд -->
	    <property name="connectionTimeout" value="30000" /> <!-- 30 секунд -->
	    <property name="maxLifetime" value="1800000" /> <!-- 30 минут -->
	    <property name="poolName" value="HikariCP-Pool" />
	    
	    <!-- Включаем регистрацию MBeans -->
    	<property name="registerMbeans" value="true" />
	</bean>
	
	<bean id="myDataSourceYard" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test?useSSL=false&amp;serverTimezone=Europe/Moscow&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="5001020" />
<!-- 		<property name="jdbcUrl" value="jdbc:mysql://10.10.1.21:3306/test?useSSL=false&amp;serverTimezone=Europe/Moscow&amp;characterEncoding=utf8" /> -->
<!-- 		<property name="username" value="speedlogist" /> -->
<!-- 		<property name="password" value="eps6sh" /> -->
		
<!-- 		<property name="jdbcUrl" value="jdbc:mysql://10.200.0.102:3306/test?useSSL=false&amp;serverTimezone=Europe/Moscow&amp;characterEncoding=utf8" /> -->
<!-- 		<property name="username" value="speedlogist" /> -->
<!-- 		<property name="password" value="eps6sh" /> -->
		
		<!-- Настройки пула -->
		<property name="maximumPoolSize" value="30" />
		<property name="minimumIdle" value="5" />
		<property name="idleTimeout" value="300000" /> <!-- 300 секунд -->
		<property name="connectionTimeout" value="30000" /> <!-- 30 секунд -->
		<property name="maxLifetime" value="1800000" /> <!-- 30 минут -->
		<property name="poolName" value="HikariCP-Pool" />

		<!-- Включаем регистрацию MBeans -->
		<property name="registerMbeans" value="true" />
	</bean>

	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="packagesToScan" value="by.base.main.model" />
		<property name="hibernateProperties">
		   <props>
		      <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		      <prop key="hibernate.show_sql">false</prop>
		      <prop key="hibernate.connection.autocommit">false</prop> <!-- test -->
		      <prop key="hibernate.ddl-auto">update</prop> 
		   </props>
		</property>
   </bean>	
   
   <bean id="sessionFactoryYard"
		  class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSourceYard" />
		<property name="packagesToScan" value="by.base.main.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">falce</prop>
				<prop key="hibernate.connection.autocommit">false</prop> <!-- test -->
				<prop key="hibernate.ddl-auto">update</prop>
			</props>
		</property>
	</bean>
   
   <bean id="XSSFilter" class="by.base.main.util.XSSFilter">
	</bean>
	
   <bean id="myTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
    
    <bean id="myTransactionManagerYard" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryYard"/>
	</bean>
    
    
    <!-- for loader -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="80000000" />
	</bean>
	
	<!-- Включаем планирование задач -->
<!-- 	<task:annotation-driven/> -->
	
	<!-- Определяем ваши задачи -->
<!--     <bean id="ScheduledTask" class="by.base.main.service.util.ScheduledTask"/> -->
	
	
    <tx:annotation-driven transaction-manager="myTransactionManager" />
    
    <!-- Включаем AOP -->
    <aop:aspectj-autoproxy />

<!--     Регистрация аспекта -->
    <bean id="performanceAspect" class="by.base.main.aspect.PerformanceAspect" /> 
    
    <!--  запускаем асинхронные аннотации -->
<!--     <task:annotation-driven executor="asyncExecutor" /> -->

	<bean id="asyncExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	    <property name="corePoolSize" value="5" />
	    <property name="maxPoolSize" value="10" />
	    <property name="queueCapacity" value="100" />
	    <property name="threadNamePrefix" value="AsyncExecutor-" />
	</bean>  
    
    <mvc:resources location="/resources/" mapping="/resources/**"/>
</beans>